body{
  background-color: rgb(240, 239, 239);
}

#header-img{
  width: 50px;
  height: 50px;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar, #nav-list{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 75%;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.8rem;
}

li{
  list-style: none;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email{
  width: 220px;
}

#submit{
  width: 120px;
  height: 30px;
  margin-top: 1rem;
  background-color: rgb(201, 201, 97);
}

#submit:hover{
  background-color: yellow;
}

@@media (max-width: 720px) {

}
